body {
  background-image: url(https://i.loli.net/2020/02/19/8cWUDIM1ERltom4.png);
  background-attachment: fixed;
  background-size: cover;
}

.bigbox {
  margin: auto;
  padding-top: 2vw;
}

.jxgbox {
  width: 64vw;
  height: 48vw;
  margin: 0 auto;
}

.buttonmenu {
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
  width: 1000px;
  color: #fd7e37;
}

.reset {
  width: 70px;
  margin-right: 20px;
  color: #bf0045;
}

.start {
  width: 70px;
  margin-right: 20px;
  color: #bf0045;
}

.originalNumber {
  display: inline-block;
  width: 40px;
}

.remainLifes {
  display: inline-block;
  width: 40px;
}

.evolutionTimes {
  display: inline-block;
  width: 40px;
  padding-right: 1.5%;
}

.stop {
  width: 70px;
  margin-right: 20px;
  color: #bf0045;
}

.rate {
  width: 70px;
  margin-right: 20px;
  color: #bf0045;
}
