body {
  /* background-image: url(https://i.loli.net/2020/02/19/8cWUDIM1ERltom4.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 768px; */
  background-image: url(https://i.loli.net/2020/02/19/8cWUDIM1ERltom4.png);
  background-attachment: fixed;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 101vh; */
  /* width: 100vw; */
}

.githubContainer {
  width: 150px;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(315deg) translateX(-28px) translateY(-53px);
  /* background-color: #a5a5a5; */
}

.githubContainer:hover {
  background-color: #a5a5a5;
}

.githubLink {
  transform: scale(0.8, 0.8);
}

.githubImg {
  transform: translateY(0.4rem);
}

.lgswitcherContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3125rem 0.625rem 0 0;
  margin-right: 0.625rem;
  height: 3.75rem;
  z-index: 20;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.selector {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 1.5625rem;
}

.lgswitcherContainer .selector span {
  padding: 0 0.4375rem;
  height: 2.125rem;
  min-width: 2.125rem;
  color: rgba(0, 0, 0, 0.3);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1.0625rem;
  transition: all 0.3s ease;
}

.lgswitcherContainer *,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lgswitcherContainer .selector::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.125rem;
  height: 2.125rem;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 1.0625rem;
  transition: all 0.3s ease;
  display: block;
  z-index: -1;
}

.lgswitcherContainer .cn::after {
  transform: translateX(0);
}

.lgswitcherContainer .en::after {
  width: 2.6875rem;
  transform: translateX(2.125rem);
}

.lgswitcherContainer .cn .langCn {
  color: #fff;
}

.lgswitcherContainer .en .langEn {
  color: #fff;
}

.parentbox {
  box-sizing: border-box;
  width: 80vw;
  height: 58vw;
  margin: auto;
  /* padding-top: 1%; */
  position: relative;
}

.childrenbox {
  position: absolute;
  width: 70vw;
  height: 56vw;
  top: 50%;
  left: 50%;
  margin-top: -26vw;
  margin-left: -35vw;
}

.jxgbox {
  max-width: 1140px;
  max-height: 855px;
  width: 64vw;
  height: 48vw;
  margin: 0 auto;
  /* margin-top: 2em; */
}

.buttonmenu {
  margin: 1.3rem auto;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
  /* width: 62.5rem; */
  max-width: 1140px;
  width: 100%;
  /* color: #fd7e37; */
  color: #f94b18;
}

.reset {
  width: 5.9rem;
  margin-right: 0.7rem;
  color: #bf0045;
}

.start {
  width: 5.9rem;
  margin-right: 0.7rem;
  color: #bf0045;
}

.originalNumber {
  display: inline-block;
  width: 1.9rem;
}

.originalNumberText {
  margin-left: 0.5rem;
}

.remainLifes {
  display: inline-block;
  width: 1.9rem;
}

.evolutionTimes {
  display: inline-block;
  width: 1.9rem;
  /* padding-right: 1.5%; */
}

.inlineText {
  width: auto;
}

.pattern {
  width: 5rem;
  margin-left: 0.7rem;
  color: #bf0045;
}

.rate {
  width: 5.9rem;
  margin-left: 1.3rem;
  color: #bf0045;
}

.rateLabel {
  width: 5.6rem;
  padding-top: 0.5rem;
  /* margin-left: -0.3rem; */
  color: #f94b18;
  position: absolute;
}

@media screen and(max-width: 770px) {
  .reset {
    width: 5.9rem;
    margin-right: 0.7rem;
    color: #bf0045;
  }

  .start {
    width: 5.9rem;
    margin-right: 0rem;
    color: #bf0045;
  }

  .pattern {
    width: 5rem;
    margin-left: 0rem;
    color: #bf0045;
  }

  .rate {
    width: 5.9rem;
    margin-left: 1.3rem;
    color: #bf0045;
  }
}
